.sm-icon {
    font-size: 30pt;
}
.sm-icon:hover {
    color: darkgrey;
    cursor: pointer;
}
body {
    font-family: "Droid Sans", "Verdana", "Arial";
}
.main-col {
    background-color: #EEE;
}
.side-col {
    background-color: #EEE;
}
.sidebar-item {
    border-top: 1px solid red;
}
h4 {
    color: #2277DD;
    font-weight: bold;
}
.dairy-date {
    color: #CCC;
}
.title {
    background-image: url("uploads/96/blacktitle.png") right no-repeat;
}
.navbar-devlol {
    margin-bottom: 0px;
    background-color: #2277DD;
    border-color: #0A67D7;
}
.navbar-devlol .navbar-nav > li > a {
    color: #FFF;
    font-weight: bold;
}
.navbar-devlol .navbar-nav > li > a:hover{
    color: #FFF;
    font-weight: bold;
    background-color: #488EE2;
}
