.sm-icon {
    font-size: 30pt;
}
.sm-icon:hover {
    color: darkgrey;
    cursor: pointer;
}
.status-link:hover {
    text-decoration: none;
}
.status-link:active {
    text-decoration: none;
}
.status-link:visited {
    text-decoration: none;
}
.status-label {
    background-color: #DDD;
    padding: 7px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 20pt;
    position: relative;
    bottom: 15px;
    left: 0px;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.header-img {
    height: 50px;
    padding: 5px;
}
.status-label:hover {
    background-color: #CCC;
}
.upcoming-item {
    list-style-type: none;
    border-top: 1px solid;
    margin-top: 25px;
}
body {
    font-family: "Droid Sans", "Verdana", "Arial";
}
.main-col {
    z-index: 100;
    background-color: #FAFAFA;
    min-height: 100%;
    padding-bottom: 100px;
    box-shadow: 0 1px 15px rgba(0,0,0,.5);
}
.side-col {
    z-index: 10;
    background-color: #EEE;
    box-shadow: 0 1px 15px rgba(0,0,0,.25);
    padding-bottom: 20px;
    padding-left: 20px;
}
.sidebar-item {
    border-top: 1px solid red;
}
h4 {
    margin-top: 25px;
    color: #2277DD;
    font-weight: bold;
}
.dairy-date {
    color: #CCC;
}
.title {
    background-image: url("uploads/96/blacktitle.png") right no-repeat;
}
.navbar-devlol {
    margin-bottom: 0px;
    background-color: #2277DD;
    border-color: #0A67D7;
    box-shadow: 0 1px 15px rgba(0,0,0,.75);
}
.navbar-devlol .navbar-nav > li > a {
    color: #FFF;
    font-weight: bold;
}
.navbar-devlol .navbar-nav > li > a:hover{
    color: #FFF;
    font-weight: bold;
    background-color: #488EE2;
}
