<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>/dev/lol - Linzer Hackspace</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
    
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.doebi.at/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "4"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
    <script src="/static/lib/lightbox/js/jquery-1.11.0.min.js"></script>
    <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
    <link href="/static/lib/lightbox/css/lightbox.css" rel="stylesheet" />
</head>
