<!DOCTYPE HTML>
<html>
    {% include "header.html" %}
    <body>
        <!-- Navbar >>> -->
        {% include "menu.html" %}
        <!-- <<< Navbar -->
        <div class="container">
            <div class="row">
                <!-- Main Col >>> -->
                <div class="main-col col-lg-9">
                    <div class="row">
                        <!-- Header Image -->
                        <img class="img-responsive" src="http://i.imgur.com/qOEI4xA.png" alt="" />
                        {% include "status.html" %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>/dev/lol - Developer Lab of Linz</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                {% for item in items %}
                                <div class="col-lg-12">
                                    <hr style="border-width: 5px" />
                                    <h4>{{item.title}}<small> - <i class="diary-date">{{item.datestring}}, {{item.timestring}}</i></small></h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- <p>{{item.content}}</p> -->
                                            {{item.html|safe}}
                                        </div>
                                    </div>
                                    <div class="row event-item-footer">
                                        <div class="col-lg-12">
                                            {% if item.link %}
                                            <div class="pull-left">
                                                <i class="fa fa-external-link"></i> <a href="{{item.link}}" target="_blank">{{item.link}}</a>
                                            </div>
                                            {% endif %}
                                            <div class="pull-right">
                                                <i class="fa fa-map-marker"></i> {{item.location}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row event-item-gallery">
                                        {% for image in item.images %}
                                        <div class="col-lg-3 col-md-6 col-xs-12">
                                            <a class="thumbnail" data-lightbox="event-{{item.id}}" href="{{image.url}}">
                                                <img class="img-responsive" src="{{image.url}}" alt="">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <<< Main Col -->
                <!-- Side Col >>> -->
                {% include "sidebar.html" %}
                <!-- <<< Side Col -->
            </div>
            <div class="footer">
                <!-- to be created -->            
            </div>
        </div>
    </body>
</html>
