<html>
{% include "header.html" %}
<body>
    <!-- Navbar >>> -->
    {% include "menu.html" %}
    <!-- <<< Navbar -->
    <div class="container">
        <div class="row">
            <!-- Main Col >>> -->
            <div class="main-col col-lg-9">
                <div class="row">
                    <!-- Header Image -->
                        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                        <div style="overflow:hidden;height:350px;width:100%;">
                            <div id="gmap_canvas" style="height:350px;width:100%;">
                            </div>
                            <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                            <a class="google-map-code" href="http://www.map-embed.com" id="get-map-data">map-embed.com</a>
                        </div>
                        <script type="text/javascript"> function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(48.3058255,14.283851700000014),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(48.3058255, 14.283851700000014)});infowindow = new google.maps.InfoWindow({content:"<b>/dev/lol</b><br/>Hofgasse 19<br/>4020 Linz" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}init_map();</script>
                    
                    {% include "status.html" %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row gallery-row">
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/cs1KVYf.png" alt=""/>
                            </div>
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/OplkbqC.png" alt=""/>
                            </div>
                        </div>
                        <div class="row gallery-row">
                            <div class="col-lg-4">
                                <img class="img-responsive" src="http://i.imgur.com/GJXhDzm.jpg" alt=""/>
                            </div>
                            <div class="col-lg-4">
                                <img class="img-responsive" src="http://i.imgur.com/c27KmYo.jpg" alt=""/>
                            </div>
                            <div class="col-lg-4">
                                <img class="img-responsive" src="http://i.imgur.com/A2CajZU.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="row gallery-row">
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/ZYvC684.jpg" alt=""/>
                            </div>
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/nGAirZv.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="row gallery-row">
                            <div class="col-lg-12">
                                <img class="img-responsive" src="http://i.imgur.com/PTx3jgs.png" alt=""/>
                            </div>
                        </div>
                        <div class="row gallery-row">
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/ezyJ0Zi.png" alt=""/>
                            </div>
                            <div class="col-lg-6">
                                <img class="img-responsive" src="http://i.imgur.com/FiWt4gp.png" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <<< Main Col -->
            <!-- Side Col >>> -->
            {% include "sidebar.html" %}
            <!-- <<< Side Col -->
        </div>
        <div class="footer">
            <!-- to be created -->            
        </div>
    </div>
</body>
</html>
