<html>
{% include "header.html" %}
<body>
    <!-- Navbar >>> -->
    {% include "menu.html" %}
    <!-- <<< Navbar -->
    <div class="container">
        <div class="row">
            <!-- Main Col >>> -->
            <div class="main-col col-lg-9">
                <div class="row">
                    <!-- Header Image -->
                    <img class="img-responsive" src="/static/img/header/location.png" alt="" />
                    {% include "status.html" %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Wo finde ich /dev/lol ?</h1>
                    </div>
                    <div class="col-lg-12">
                        <p>
                        <code>
                            Hofgasse 19 - 4020 Linz
                        </code>
                        </p>
                    </div>
                    <div class="col-lg-12">
                            <img src="" class="img-responsive" alt="" />
                    </div>
                    <div class="col-lg-12">
                        <iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=14.279538989067078%2C48.304435619386034%2C14.286780953407288%2C48.30712958732412&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=18/48.30578/14.28316">View Larger Map</a></small>
                    </div>
                </div>
            </div>
            <!-- <<< Main Col -->
            <!-- Side Col >>> -->
            {% include "sidebar.html" %}
            <!-- <<< Side Col -->
        </div>
        <div class="footer">
            <!-- to be created -->            
        </div>
    </div>
</body>
</html>
