<html>
{% include "header.html" %}
<body>
    <!-- Navbar >>> -->
    {% include "menu.html" %}
    <!-- <<< Navbar -->
    <div class="container">
        <div class="row">
            <!-- Main Col >>> -->
            <div class="main-col col-lg-9">
                <div class="row">
                    <!-- Header Image -->
                    <img class="img-responsive" src="/static/img/header/projects.png" alt="" />
                    {% include "status.html" %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Mail Subscription</h1>
                    </div>
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
            <!-- <<< Main Col -->
            <!-- Side Col >>> -->
            {% include "sidebar.html" %}
            <!-- <<< Side Col -->
        </div>
        <div class="footer">
            <!-- to be created -->
        </div>
    </div>
</body>
</html>
