<nav class="navbar navbar-static-top navbar-default navbar-devlol">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><img class="header-img img-repsonsive" src="/static/img/logo_header.png" alt="" /></li>
            <li><a href="/diary/">Aktivitäten</a></li>
            <li><a href="/location/">Der Raum</a></li>
            {# <li><a href="/equipment/">Ausstattung</a></li> #}
            {# <li><a href="/projects/">Projekte</a></li> #}
            {# <li><a href="/members/">Mitglieder</a></li> #}
            <li><a target="_blank" href="http://devlol.org/">Wiki</a></li>
        </ul>                
    </div>
</nav>
