<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>/dev/lol - Linzer Hackspace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar >>> -->
    {% include "menu.html" %}
    <!-- <<< Navbar -->
    <div class="container">
        <div class="row">
            <!-- Main Col >>> -->
            <div style="height: 100%" class="main-col col-lg-9">
                <div class="row">
                    <!-- Header Image -->
                    <img class="img-responsive" src="/static/img/header/placeholder.png" alt="" />
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Projekte</h2>
                    </div>
                    <div class="col-lg-12">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
            </div>
            <!-- <<< Main Col -->
            <!-- Side Col >>> -->
            {% include "sidebar.html" %}
            <!-- <<< Side Col -->
        </div>
        <div class="footer">
            <!-- to be created -->            
        </div>
    </div>
</body>
</html>
