<!-- Side Col >>> -->
<div class="side-col col-lg-3">
    <div class="row">
        <div class="col-lg-12">
            <h4>Nächste Termine</h4>                    
            <div class="row">
                {% for event in events %}
                <div style="margin-top: 10px" class="col-lg-12">
                    <b style="font-size: 12pt">{{event.title}}</b>
                    <small class="pull-right"><i>{{event.date}}, {{event.time}}</i></small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Mailingliste</h4>
            <p>Auf der Mailingliste werden alle relevanten Informationen und Events veröffentlicht, dies ist somit der beste Weg immer auf dem Laufenden zu bleiben.</p>
            <input type="text" name="mail_entry" id="" value="" />
            <button type="submit">Eintragen</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Mitglied werden</h4>
            <a class="btn btn-default btn-block btn-lg" href="/join/">Wie werde ich Mitglied?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Finde uns bei ...</h4>                    
            <div class="row" style="text-align: center; margin: 10px">
                <div class="col-xs-4">
                    <a href="https://twitter.com/hackerspacelinz">
                    <i class="fa fa-twitter sm-icon"></i>
                    </a>
                </div>                            
                <div class="col-xs-4">
                    <a href="https://www.facebook.com/DeveloperLabofLinz">
                    <i class="fa fa-facebook sm-icon"></i>
                    </a>
                </div>                            
                <div class="col-xs-4">
                    <a href="https://github.com/devlol">
                    <i class="fa fa-github sm-icon"></i>
                    </a>
                </div>                            
            </div>
        </div>
    </div>
</div>
<!-- <<< Side Col -->
