<!-- Side Col >>> -->
<div class="side-col col-lg-3">
    {% if events %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Nächste Termine
                <small><a href="http://devlol.at/export/ical/events.ics" target="_blank">iCal-Feed</a></small>
            </h4>                    
            <div class="row">
                {% for event in events %}
                <div class="col-lg-12 event-item">
                    <div class="row event-item-header">
                        <div class="col-lg-12">
                            <div class="pull-left">
                                <i class="fa fa-calendar"></i> {{event.datestring}}
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-clock-o"></i> {{event.timestring}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="event-title">{{event.title}}</p>
                            {% if event.subtitle %}
                                <p class="event-subtitle">{{event.subtitle}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row event-item-footer">
                        <div class="col-lg-12">
                            {% if event.link %}
                            <div class="pull-left">
                                <i class="fa fa-external-link"></i> <a href="{{event.link}}" target="_blank">{{event.shortened_link}}</a>
                            </div>
                            {% endif %}
                            <div class="pull-right">
                                <i class="fa fa-map-marker"></i> {{event.location}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Was ist ein Hackerspace?</h4>
            <blockquote style="text-align: center">“Hackerspaces are community-operated physical places, where people share their interest in tinkering with technology, meet and work on their projects, and learn from each other.”</blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Mailingliste</h4>
            <p>Auf der Mailingliste werden alle relevanten Informationen und Events veröffentlicht, dies ist somit der beste Weg immer auf dem Laufenden zu bleiben.</p>
            <form class="form-inline" action="/mail/" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" placeholder="name@example.com" type="text" name="mail_entry" id="" value="" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Eintragen</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Mitgestalten</h4>
            <p>Du brauchst eine Location für einen Workshop, ein Meetup oder Ähnliches?</p>
            <p>Dann schreib uns eine E-Mail an <a href="mailto:support@devlol.org">support@devlol.org</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Finde uns bei ...</h4>                    
            <div class="row" style="text-align: center; margin: 10px">
                <div class="col-xs-3">
                    <a href="https://twitter.com/hackerspacelinz">
                        <i class="fa fa-twitter sm-icon"></i>
                    </a>
                </div>                            
                <div class="col-xs-3">
                    <a href="https://www.facebook.com/DeveloperLabofLinz">
                        <i class="fa fa-facebook sm-icon"></i>
                    </a>
                </div>                            
                <div class="col-xs-3">
                    <a href="https://github.com/devlol">
                        <i class="fa fa-github sm-icon"></i>
                    </a>
                </div>                            
                <div class="col-xs-3">
                    <a href="ircs://irc.servus.at:6667/#devlol">
                        <i class="fa fa-slack sm-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br />
            <small>Improve this site on <a href="http://github.com/devlol/devlol.at" target="_blank">github</a>.</small>
        </div>
    </div>
</div>
<!-- <<< Side Col -->
